<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <link
      rel="stylesheet"
      href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Domine"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Merriweather:300italic,300"
      rel="stylesheet"
      type="text/css"
    />
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <h1>Bookmarks</h1>
      </div>
    </div>
    <div class="main">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
